{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block div%}

<div class="card border-light mb-3" style="max-width: 40rem; width: 500px; height: 500px;">
  <div class="card-body">
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
    </div>  
    <h1>Sign Up</h1><br>

    <form action="/register" method="post">
      <div class="form-group">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email" autocomplete="off" required>
          <label for="floatingInput">Email</label>
        </div>  
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" autocomplete="off" required> 
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required >
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="conform-password" required>
          <label for="floatingPassword">Conform Password</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="signup-button">Sign up with Email</button>
    </div>
    </form>
  </div>
</div>

{% endblock %}